<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Coman Alecsia</span>
                <span class="d-none d-lg-block"> <%= image_tag "headshot.jpg", alt: "Coman Alecsia", class: "img-fluid img-profile mx-auto" %></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Volunteering</a></li>

                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Coman
                        <span class="text-primary">Alecsia</span>
                    </h1>
                    <div class="subheading mb-5">
                        Sibiu, Mediaș · Traian 11 · 0740912204 ·
                        <a href="mailto:comanalecsiaa@gmail.com">comanalecsiaa@gmail.com</a>
                    </div>
                    <p class="lead mb-5">I am a sophomore student at Cluj Napoca's Technical University, where I am pursuing a degree in Computer Science. My passion for technology and programming has been a driving force throughout my academic journey. I am enthusiastic about expanding my knowledge and experience in the tech industry and I'm dedicated to continuous learning and personal growth.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/alecsia-coman-618250203/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/ale0440"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://www.instagram.com/alecsiacoman/"><i class="fab fa-instagram"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/alecsia.coman/?locale=ro_RO"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Technical University of Cluj Napoca</h3>
                            <div class="subheading mb-3">Bachelor of Engineering</div>
                            <div>Computer Science</div>
                            <br>
                             <div class="flex-shrink-0"><span class="text-primary">October 2022 - Present</span></div>
                        </div>
                       
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">College "Școala Națională de Gaz", Mediaș</h3>
                            <div class="subheading mb-3">Matematică-Informatică intensiv Informatică</div>
                            <div>Bacalaureat: 9.83</div>
                            <br>
                            <div class="flex-shrink-0"><span class="text-primary">September 2018 - June 2022</span></div>
                        </div>
                        
                    </div>
                </div>
            </section>

            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Others</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            C, C++, C#
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Ruby on Rails
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Familiar with Unity - developed "Geometry Dash" game as a project for high school graduation
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Currently learning Java
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Introduction in CyberSecurity - Cisco Networking Academy 
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Leadership certificate - Leaders Explore Workshop
                        </li>
                    </ul>
                </div>
            </section>

         <hr class="m-0" />
            <!-- Volunteering-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Volunteering</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Co-Coordinator PoliHack</h3>
                            <div class="subheading mb-3"><a href = "https://osut.org/">OSUT</a> - Organizația Studenților din Universitatea Tehnică</div>
                            <p>PoliHack is a hackathon where creative student ideas are nurtured and brought to life over a weekend. Following the event, these projects are improved in a bootcamp alongside experienced mentors in the IT industry, all based in Cluj-Napoca.</p>
                            <br>
                            <div class="subheading mb-3">Responsabilities and activities</div>
                            <ul class="fa-ul mb-0">
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Collaborating with the team for event management and marketing
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Weekly meetings with volunteers
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Holding brainstorming sessions to identify solutions
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Supervising and coordinating volunteers
                                </li>
                            </ul>
                            <br>
                             <div class="flex-shrink-0"><span class="text-primary">February 2023 - June 2023</span></div>
                        </div>   
                    </div>
                   
                    <br>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Volunteer Assistant Manager</h3>
                            <div class="subheading mb-3"><a href = "https://leaders.ro/">LEADERS Foundation</a></div>
                            <p>I volunteered for the assistant manager role, which provided me with the chance to learn insights from experienced individuals in the fields of project management, teamwork, and event organization.</p> 
                        <br>
                        <div class="subheading mb-3">Responsabilities and activities</div>
                            <ul class="fa-ul mb-0">
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Engaging in research activities
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Assisting the team leader in project management
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Ensuring the smooth operation of meetings and facilitating communication between trainers and participants
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                     Participating in self-development and career workshops
                                </li>
                            </ul>
                            <br>
                             <div class="flex-shrink-0"><span class="text-primary">November 2020 - June 2021</span></div>
                         </div>    
                    </div>
                </div>
            </section>
            
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>I like to think of myself as an empathetic and sociable soul. University life presents me to many people, each being a source of wisdom that I am trying to learn from. I'm also on a quest on developing my public speaking ability. Secretly, I have an inclination towards being organized, because I hold time in high regard. My appetite for learning is insatiable because, as they say, knowledge is a superpower! </p>
                    <p class="mb-0">Stepping beyond the tech realm, I dive into the enchanting world of books. For my brain, I choose personal development and psychological books, while my heart gets away with love stories, Game of Thrones fantasy, or some mind-bending sci-fi a la Maze Runner. When it comes to sports, I enjoy ping pong, tennis, and swimming, of course, among other athletic pursuits. Recently, I’ve discovered the joy of hiking and now I'm on a mission to map out as many escapades as humanly possible.</p>
                </div>
            </section>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>





